#logo{
    height: 24px;
    position: relative;
}

.vl{
    height: 20px;
    width: 2px;
    background-color: gray;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 50%;
}

#logoEmpresa{
    height: 40px;
    width: 40px;
}

.kosmetics{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}
@media screen and (max-width: 345px) {
    .btn-outline-info{
        font-size: 12px;
    }
    .textografica{
        text-align: justify;
    }
}
@media screen and (max-width: 576px) {
    #titulo {
        font-size: 60px;
    }
    #titulillo {
        font-size: 40px;
    }
    #paraEmpresas {
        font-size: 10px;
    }
    #exito{
        font-size: 15px;
    }
    .textografica{
        text-align: justify;
    }
}
@media screen and (min-width: 576px) {
    #titulo {
        font-size: 90px;
    }
    #titulillo {
        font-size: 60px;
    }
    #paraEmpresas {
        font-size: 15px;
    }
    #exito{
        font-size: 22px;
    }
    .textografica{
        text-align: justify;
        position: absolute;
        top: 220px;
    }
}
@media screen and (min-width: 992px){
    #titulo{
        font-size: 120px;
    }
    #titulillo {
        font-size: 90px;
    }
    #paraEmpresas{
        font-size: 20px;
    }
    #exito{
        font-size: 30px;
    }
    .textografica{
        text-align: justify;
        position: absolute;
        top: 220px;
    }
}

.exito{
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 72px;
}

.bases{
    width: 200px;
    text-align: center;
}

.progress-bar{
    background-color: #84DCC6;
    color: black;
}

#puntuacion{
    text-align: center;
    padding-top: 50px;
}