#body-landing-page{
    background-image: url("images/the-honest-company-AiADE3prv90-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

@media screen and (min-width: 1200px){
#brand{
    font-size: 80px;
}
}