#logo{
    height: 24px;
    position: relative;
}

.vl{
    height: 40px;
    width: 2px;
    background-color: gray;
    margin-left: 15px;
    margin-right: 15px;
    opacity: 50%;
}

#logoEmpresa{
    height: 40px;
    width: 40px;
}

.kosmetics{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}

#titulo{
    font-size: 50px;
    margin-bottom: 0;
}

.exito{

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 72px;
}

#estadGlobales{
    position: center;
    background-image: url("images/estadGlobales.jpg");
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    background-size: 200%;
    background-position: center;
}

#estadCateg{
    position: center;
    background-image: url("images/pintalabios.jpg");
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    background-size: 100%;
    background-position: center;
}

#estadIndividuales{
    position: center;
    background-image: url("images/estadIndividuales.jpg");
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    background-size: 200%;
    background-position: center;
}

#perfilCliente{
    position: center;
    background-image: url("images/perfilCliente.jpg");
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    background-size: 100%;
    background-position: top;
}

#competencia{
    position: center;
    background-image: url("images/competencia.jpg");
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    background-size: 100%;
    background-position: center;
}

#coloretes{
    position: center;
    background-image: url("images/coloretes.jpg");
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    background-size: 180%;
    background-position: center;
}

#sombras{
    position: center;
    background-image: url("images/sombrasDeOjos.jpg");
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    background-size: 100%;
    background-position: center;
}

#bases{
    position: center;
    background-image: url("images/bases.jpg");
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    background-size: 165%;
    background-position: center;
}

.bases{
    width: 200px;
    text-align: center;
}